.background {
    background-image: url('/src/assets/images/persona4-background.jpeg');
    background-repeat: repeat;
    background-size: cover;
}

@font-face {
    font-family: 'P4Font';
    src: url(/src/assets/fonts/Fontsona4Golden.ttf);
}

.mainCard {
    background-image: url(/src/assets/images/persona\ 4\ tv.png);
    background-size: 355px 250px;;
    background-repeat: no-repeat;
    background-position: center center;
    /* border-radius: 10px; */
    perspective: 1000px;
    transition: transform 0.1s;
    transform-style: preserve-3d;
}

/* .oneCard {
    transition: transform 0.8s;
    transform-style: preserve-3d
} */

/* .frontCard {

} */
.p4Font {
    font-family: 'P4Font';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

.backCard {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.correctText {
    transform: rotateY(180deg);
}

.formBackground {
    background-image: url('/src/assets/images/dialogue\ box.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; 
    height: 250px;
    width: 1100px;
    display: flex;
    align-items: center;
    padding: 20px; 
}
/* 
.formSelect {
    width: 19%;
} */

@media screen and (min-width: 1024px) and (max-width: 1280px){
    .formBackground {
        width: 1024px;
    }
}
@media screen and (min-width: 640px) and (max-width: 1024px){
    .formBackground {
        width: 640px;
    }
}

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.playBtn {
    width: 100vw;
    transform: rotate(-10deg);
}